// *{margin: 0; padding: 0;}
.app{
  height: 800px;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 15px;
  }
  &::-webkit-scrollbar-thumb{
    // background-color: #333;
    background-image: linear-gradient(to bottom, cornflowerblue 40%, rgb(43, 90, 247));
    // background-image: linear-gradient(transparent, cornflowerblue);
    border-radius: 3px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }
  &::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: inset 0 0 5px #fff;
  }
}
.container{
  display: grid;
  // grid-template-columns: repeat(6,1fr);
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  @media screen and (max-width:768px){
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
  gap: 20px;
  .movie-card{
    // display: inline-block;
    // width: 200px;
    position: relative;
    cursor: pointer;
    img{
      width: 100%;
      aspect-ratio: 9/16;
      object-fit: cover;
      display: block;
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: #ccc;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      &:hover{
        opacity: 1;
        transition: 0.3s;
      }
    }
  }
}